.site {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.theimage {
    width: 50%;
}

#custom-shape {
	outline: 1px solid grey;
	background: url('raster.svg');
}

svg text{
    font-family:'Kavoon', cursive;
}

.fill {
	fill: grey;
}

.st0{
    width:50px;
    height:50px;
}

.simonBackground{
    
}

/* -------Color Rulesets------*/

/*-------Red------*/
.red-inactive{
    fill:rgb(150,0,0);
}
#red:hover{
    fill:rgb(180,10,10);
}

.red-active, #red:active{
    fill:rgb(255,10,10);
}
#red{
    /* fill:rgb(150,0,0); */
    transform:translate(20%, 70%) rotate(270deg);
}

/*-------Blue------*/
.blue-inactive{
    fill:rgb(0,0,120);
}
#blue:hover{
    fill:rgb(40,40,180);
}

.blue-active, #blue:active{
    fill:rgb(0,0,255);
}

#blue{
    /* fill: #384fff; */
    transform:translate(70%, 20%) rotate(90deg);
}


/*-------Green------*/

.green-inactive{
    fill:rgb(0,50,0);
}

#green:hover{
    fill:rgb(10,140,10);
}

.green-active, #green:active{
	fill:rgb(10,255,10);
}

#green{
    /* fill: #38fc2a; */
    transform:translate(70%, 70%) rotate(180deg);
}

/*-------Yellow------*/

.yellow-inactive{
    fill:rgb(165, 165, 1);
}

#yellow:hover{
    fill:rgb(160,160,10);
}

.yellow-active, #yellow:active{
    fill:rgb(255,255,10);
}

#yellow{
    /* fill: #faff02; */
    transform:translate(20%, 20%);
}

/* --------Color Styles End -----*/


/*-------Other Buttons Start-----*/

#reset-game{

}

#start-game{

}

#strict-button{

}

.strict-active{

}

.strict-inactive{
    
}